.myNav ul li {
    list-style: none;
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid whitesmoke;
    transition: 0.6s ease;
    list-style-type: none;
    margin-top: 15px;
}

nav {
    padding: 0.25em;

    font-size: 14px;

}

nav a {
    padding: 0.25em;
}

.main {
    max-width: 1200px;
    margin: auto;
}

header {
    background-position: center;
}

#genderRadios {
    border-style: groove;

}


body {
    margin-top: auto;
    background-color: antiquewhite;
    text-decoration-color: beige;
    color: darkslategray;
    padding: auto;
}

form>input {
    padding: auto;
    margin-bottom: 5px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
}

header {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-color: lightskyblue;
    color: white;
    text-align: center;
}
